.about-presentation {
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url('../images/phone-purple.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about-presentation div {
    display: inline-block;
    margin: 2rem;
    padding: 1rem 2rem;
    background: #fff;
}

.about-presentation p {
    padding-bottom: 0.5rem;
}

.about-info {
    display: flex;
    margin: 3rem 0;
}

.about-info div {
    padding: 1rem 5rem;
}

.about-info div:last-child {
    border-left: 1px solid var(--light-gray);
}

.contact {
    border-top: 1px solid var(--light-gray);
    padding: 3rem 0;
}

.contact div {
    display: flex;
    justify-content: center;
}

.contact article {
    padding: 3rem;
    max-width: 22rem;
}

.contact p {
    padding-bottom: 0.8rem;
}

.border {
    border-left: 1px solid var(--light-gray);
}