.container {
    margin: 1rem 0.3rem;
    padding: 0.5rem;
    border: 1px solid var(--primary);
}

.letter {
    padding: 0.6rem 1.3rem;
    border: 1px solid var(--primary);
    display: inline-block;
}

.letterWrap {
    display: flex;
    flex-direction: row;
}

.letter span {
    font-weight: bold;
}

.username {
    display: inline-block;
    margin-left: 1rem;
}

.message {
    margin-top: 1rem
}

.container p {
    padding-bottom: 0;
}