div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.card img {
    height: 15em;
}

.card h4 {
    margin-top: 1em;
    font-weight: normal;
}

.card a {
    text-decoration: none;
}

.card p {
    display: inline-block;
}