.header {
    margin: 1.5rem 0;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total h4 {
    font-weight: normal;
}

.total h4 span {
    font-size: 1.5rem;
    color: var(--primary);
}

.btn-payment svg {
    margin-left: 10px;
    bottom: 14px;
}

.btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0
}

.btn-payment button {
    margin: 2rem;
}

.cart-presentation {
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url('../images/phoneNight.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cart-presentation div {
    display: inline-block;
    margin: 2rem;
    padding: 1rem 2rem;
    background: #fff;
}

.cart-presentation p {
    padding-bottom: 0.5rem;
    ;
}