.nav-big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Ubuntu';
}

.logo-wrap {
    padding: 0.6em 1.4em;
    border: 2px solid var(--light-gray);
    border-bottom: none;
}

.nav-content {
    display: flex;
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 2rem;
}

.username p {
    padding-bottom: 0;
}

.username p:last-child {
    font-weight: bold;
    padding-bottom: 1rem;
}

div.wrap {
    border-bottom: 2px solid var(--light-gray);
}

.nav-big ul {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.nav-big li {
    display: block;
    list-style: none;
}

.nav-big a, .nav-big button {
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1rem 2rem;
    color: rgb(39, 39, 39);
    position: relative;
}

.nav-big a::after, .nav-big button::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 10px;
    right: 10px;
    margin-top: -3px;
    background: #da291c;
    transition: 450ms cubic-bezier(.215, .61, .355, 1);
}

.nav-big a:hover::after, .nav-big button:hover::after {
    visibility: visible;
    opacity: 1;
    color: red;
}

.nav-big button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Ubuntu';
    line-height: 34px;
}

.nav-icon-wrap {
    margin-right: 2rem;
}

.nav-icon {
    width: 2.5em;
    height: 2em;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-content-small {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    background-color: white;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 0.25em;
    width: 100%;
    background: rgb(44, 44, 44);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0em;
}

.nav-icon span:nth-child(2) {
    top: 0.8em;
}

.nav-icon span:nth-child(3) {
    top: 1.6em;
}

.nav-main-clicked span:nth-child(1) {
    top: 0.8em;
    transform: rotate(135deg);
}

.nav-main-clicked span:nth-child(2) {
    opacity: 0;
    left: -6.0em;
}

.nav-main-clicked span:nth-child(3) {
    top: 0.8em;
    transform: rotate(-135deg);
}

.menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu div {
    position: absolute;
    width: 200vw;
    height: 200vw;
    background-color: var(--primary);
    border-radius: 50%;
    transition: all .4s ease;
    transform: scale(0);
    backface-visibility: hidden;
    overflow: hidden;
}

.menu ul {
    opacity: 0;
    transition: opacity .4s ease;
}

.menu-clicked {
    position: fixed;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-clicked div {
    position: absolute;
    width: 200vw;
    height: 200vw;
    background-color: #da291cdc;
    border-radius: 50%;
    transition: all .4s ease;
    transition-duration: 2.75s;
    transform: scale(1);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-clicked ul {
    opacity: 1;
    transition: opacity .4s ease .4s;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.menu-clicked a, .menu-clicked button {
    display: block;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 0.4rem;
    color: white;
}

.nav-small ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 6rem;
}

.nav-small li {
    display: block;
    list-style: none;
}

.nav-small button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Ubuntu';
    line-height: 34px;
}

.basket-big {
    color: var(--primary);
    vertical-align: sub;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.basket-small {
    vertical-align: sub;
    margin-left: 0.6rem;
    font-size: 1.9rem;
}

@media only screen and (max-width: 1300px) {
    .nav-big a, .nav-big button {
        padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 1130px) {
    .nav-big {
        display: none;
    }
    .nav-content-small {
        display: flex;
    }
}

@media only screen and (max-width: 650px) {
    .logo-wrap {
        padding: 0.3em 0.9em;
        border: 2px solid var(--light-gray);
        border-bottom: none;
    }
}