.logo-wrap {
    padding: 0.6em 1.4em;
    border: 2px solid var(--light-gray);
    border-bottom: none;
}

nav {
    display: flex;
    font-family: 'Ubuntu';
}

div.wrap {
    border-bottom: 2px solid var(--light-gray);
}

nav ul {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    list-style: none;
}

.wrap a, .wrap button {
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1rem 2rem;
    color: rgb(39, 39, 39);
    position: relative;
}

.wrap a::after, .wrap button::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 10px;
    right: 10px;
    margin-top: -3px;
    background: #da291c;
    transition: 450ms cubic-bezier(.215, .61, .355, 1);
}

.wrap a:hover::after, .wrap button:hover::after {
    visibility: visible;
    opacity: 1;
    color: red;
}

.wrap button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}