@import url('https://fonts.googleapis.com/css?family=Oxygen|Roboto|Ubuntu&display=swap');
* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: none;
}

html {
  box-sizing: border-box;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Oxygen', 'Ubuntu', 'Roboto', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 22px;
    color: rgb(75, 75, 75);
  }
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  --primary: #da291c;
  --darkRed: rgb(182, 34, 23);
  --light-gray: #efefef;
}

::selection {
  color: #fff;
  background-color: var(--primary);
}

body, td, th, form, textarea, input, option, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  padding-bottom: 0.5em;
}

h1 {
  font-size: 2.442em;
}

h2 {
  font-size: 1.953em;
  font-weight: normal;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p, ul, ol {
  padding-bottom: 1.5em;
}

ul, ol {
  padding-left: 2em;
}

li {
  list-style-position: inside;
}

.page-wrap {
  max-width: 1460px;
  margin: 0 auto;
}

.react-icons-btn-shop {
  vertical-align: middle;
  color: var(--primary);
  font-size: 21px;
  font-family: 'Roboto' !important;
}

.react-icons-btn-form {
  position: relative;
  border: none;
  color: #fff;
  background-color: var(--primary);
  padding: 15px 48px 15px 21px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Roboto' !important;
  transition: background-color 450ms cubic-bezier(.215, .61, .355, 1);
}

.react-icons-btn-form:hover {
  background-color: var(--darkRed);
}

.react-icons-btn-form svg {
  font-size: 25px;
  position: absolute;
  margin-left: 7px;
  bottom: 12px;
}